html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#calendar {
    max-width: 1200px;
    margin: 40px auto;
    padding: 15px;
    background-color: #740000;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    height: 800px; /* Esto es importante para mostrar el calendario */
}
