body {
    background-color: #B0E2FF;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 20px;
}

.navegacion {
    margin: 10px;
}

.navegacion button {
    background-color: #A4E786;
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    margin: 0 10px;
}

#calendarioContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.mes {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.titulo-mes {
    background-color: #A4E786;
    color: white;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f8f8f8;
    color: #555;
    padding: 5px;
    font-size: 0.8rem;
}

.celda-dia {
    height: 70px;
    vertical-align: top;
    padding: 2px;
    position: relative;
}

.numero-dia {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 2px;
}

.evento {
    font-size: 0.65rem;
    padding: 2px 3px;
    border-radius: 4px;
    margin-top: 2px;
    color: white;
    cursor: default;
}

.evento-clickable:hover {
    filter: brightness(0.9);
    cursor: pointer;
}
