<h2>Listado de Equipos</h2>
<a href="{% url 'crear_equipo' %}">+ Agregar nuevo equipo</a>
<table>
    <tr>
        <th>ID</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Numero de Serie</th>
        <th>Especificaciones</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    {% for equipo in equipos %}
    <tr>
        <td>{{ equipo.id }}</td>
        <td>{{ equipo.marca }}</td>
        <td>{{ equipo.modelo }}</td>
        <td>{{ equipo.numero_serie}}</td>
        <td>{{ equipo.especificaciones}}</td>
        <td>{{ equipo.estado }}</td>
        <td>
            <a href="{% url 'detalle_equipo' equipo.id %}">Ver</a> |
            <a href="{% url 'editar_equipo' equipo.id %}">Editar</a> |
            {% if equipo.estado != 'disponible' %}
                <a href="{% url 'cambiar_estado_equipo' equipo.id 'disponible' %}">Marcar Disponible</a>
            {% endif %}
            {% if equipo.estado != 'alquilado' %}
                <a href="{% url 'cambiar_estado_equipo' equipo.id 'alquilado' %}">Marcar Alquilado</a>
            {% endif %}
            {% if equipo.estado != 'reservado' %}
                <a href="{% url 'cambiar_estado_equipo' equipo.id 'reservado' %}">Marcar Reservado</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
